body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 940px;
  width: 100%;
}

/* header */

.header {
  position: sticky;
  top: 0;
  height: 10vh;
  overflow: hidden;
  background-color: #1a1a1d;
}

.left {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  text-decoration: none;
  justify-content: space-around;
  padding-left: 50px;
}

.left > h1 {
  color: #c3073f;
  margin-right: 55px;
  font-size: 35px;
  cursor: pointer;
}

.left > p {
  font-size: 20px;
  cursor: pointer;
}

.left :hover {
  transform: scale(1.3);
  transition-duration: 0.5s;
  color: #c3073f;
}

.login {
  margin: 5px;
  padding: 6px;
  margin-right: 30px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 30px;
}

.login:hover {
  background-color: #c3073f;
  color: antiquewhite;
}
.search-bar {
  display: flex;
  align-items: center;
  color: white;
}

.search-icon {
  position: relative;
  cursor: pointer;
}

.input {
  border: none;
  outline: none;
  padding: 0;
  transition: 0.4s all;
  line-height: 25px;
  width: 0px;
}

.search-bar:hover .input {
  transform: none;
  height: 20px;
  color: black;
  width: 180px;
}

.login:focus {
  outline: none;
}

/* footer */

.footer {
  background-color: #1a1a1d;
  position: relative;
  bottom: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.wrapper {
  flex: 1;
}

.row {
  display: inline-block;
  width: 100%;
}

.col1 {
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  width: 50%;
  align-items: center;
  font-size: 18px;
}
.col1 > h4 {
  font-size: 25px;
  cursor: default;
  color: white;
}

.col2 {
  display: flex;
  float: right;
  align-items: center;
  justify-content: center;
  color: white;
  width: 50%;
  padding: 0px;
}

.col2 > h4 {
  font-size: 22px;
  cursor: default;
}

.copyright {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 22px;
  cursor: default;
}

.copyright span:hover {
  color: #c3073f;
}

.col1 h4 span:hover {
  color: #c3073f;
}

.col2 h4 span:hover {
  color: #c3073f;
}

.list:hover {
  color: #c3073f;
}

.list1:hover {
  color: #244bfa;
}

.list2:hover {
  color: #db0000;
}

.list,
.list1,
.list2 {
  list-style: none;
}

.list {
  padding: 2px;
}

/* middle */

.content {
  display: flex;
  flex-wrap: wrap;
  background-color: #c0c0c0;
}
.main {
  flex: 3 70rem;
}
.sidebar {
  flex: 1 15rem;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.products li {
  flex: 0 1 29rem;
  height: 44rem;
  padding: 1rem;
}

.product {
  display: inline-block;
  height: 100%;
}

.product img {
  max-width: 30rem;
  max-height: 30rem;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price div,
.product-price button {
  text-align: center;
  flex: 1;
}

.product-price div {
  font-size: 25px;
}

.cartbutton {
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #1a1a1d;
  color: #f0f0f0;
  cursor: pointer;
}

.cartbutton:hover {
  color: #db0000;
}

.product a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

/* filter */

.filter {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  font-size: 22px;
}

.filter div {
  flex: 1;
}

.filter-sort {
  margin-right: 29rem;
}

/* cart */
.cartHeader {
  font-size: 22px;
  padding: 2rem;
  display: flex;
}

.cartItems {
  padding: 0;
  width: 100%;
  list-style: none;
}

.cartItems img {
  width: 5rem;
}

.cartItems li {
  display: flex;
}
.cartItems li div {
  padding: 0.5rem;
}

.cartItems li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}
.right button {
  background-color: #c0c0c0;
  border: none;
  outline: none;
  cursor: pointer;
}

.right button:hover {
  color: #db0000;
}

.cartalign {
  font-size: 18px;
}

.list {
  font-size: 16px;
  list-style: none;
}

.li1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 1rem;
  cursor: default;
}

.li2 {
  font-size: 16px;
  cursor: default;
}

.cartButton {
  float: right;
  margin-right: 5rem;
  padding: 1rem;
  border: 0.1rem #c0c0c0 solid;
  background-color: #1a1a1d;
  color: #f0f0f0;
  cursor: pointer;
}

.cartButton:hover {
  color: #db0000;
}

.total {
  position: relative;
  text-align: left;
  top: 1.8rem;
  font-weight: bold;
}

.disableLink {
  text-decoration: none;
  color: white;
}
